#notebook{
    width: 100vw;
    height: 90vh;
}
#navigation{
    float: left;
    width: 20vw;
    height: 90vh;
}
#home{
    width: 20vw;
    height: 20vh;
    border: 2px solid blue;
    padding-top: 40px;
    padding-left: 40px;
}
#home a{
    font-size: 28px;
    text-align: center;
    font-family: "华文琥珀";
    text-decoration: none;
}
#catalogue{
    width: 20vw;
    height: 70vh;
    border: 2px solid blue;
}
#content{
    float: left;
    width: 40vw;
    height: 90vh;
}
#title{
    width: 40vw;
    height: 20vh;
    border: 2px solid blue;
}
.text{
    width: 40vw;
    height: 70vh;
    border: 2px solid blue;
}
.col-lg-6{
    width: 100%;
    height: 100%;
    word-break: break-all;
}
.test{
    float: left;
    width: 36vw;
    word-break: break-all;
}
#property{
    float: left;
    width: 20vw;
    height: 90vh;
    border: 2px solid blue;
}
